/*Header CSS Styling*/
#kitchenBackground{
   background-image: url("kitchen.jpg");
   height:17.5%;
   width:100%;
   background-position: center;
   min-height:150px;
}
#logoBar{
   width:100%;
   margin:0px 0px 15px 0px;
}
#logo{
   width:10%;
   min-width: 100px;
   max-width:175px;
   height: auto;
}
#nav{
   min-width:995px;
}
#nav > ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #D68227;
   border: 1px solid black;
   font-size:15px;
}
#nav li {
   float:left;
   border-right: 1px solid black;
}
#nav li:last-child{
   border-right:none;
   border-left: 1px solid black;
}
#nav li a{
   display: block;
   color: black;
   text-align: center;
   padding: 14px 20px;
   width:7lvw;
   min-width:100px;
   text-decoration: none;
}
#nav li a:hover{
   background-color: #CE6523;
   color:black;
} 
#nav .active {
  background-color: #FFFFFF;
  color:#CE6523;
}
#nav #userControlled{
   border-left: 2px solid black;
   border-right: 3px solid black;
}
#nav #adminControlled{
   border-right: 3px solid black;
}

/*Footer CSS Styling*/

#footer{
   height:10%
   width:100%;
   background-color: #D68227;
   text-align:center;
   padding:10px;
   margin-top:auto;
}

/*Recipes To Try CSS*/
#recipesToTry{
   width:40%;
   margin:25px 50px 5% 25px;
   border: 1px solid black;
   background-color: #D68227;
}
#recipesToTry img{
   width:128px;
   height:auto;
}
.recipeImage{
   width:128px;
   padding:0px;
}
#recipesToTry,th,td{
   border-bottom:1px solid black;
   border-collapse: collapse;
   text-align:center;
}


body{
   margin:0px;
   min-height:100vh;
   display:flex;
   flex-direction:column;
}
*{
   font-family:Helvetica;
}