#kitchenBackground{
   background-image: url("https://media.architecturaldigest.com/photos/586be87aaa0d72d014cea154/16:9/w_3199,h_1799,c_limit/0217-lyor-cohen-hamptons-beach-house-5.jpg");
   display: inline-block;
   height:100px;
   width:100%;
   clip: rect(600px, 3000px, 800px, 0);
   margin:200px 0px;
}